.chocolate {
  background: #201717;
  color: #f6eddb;

  --color-red: #ee7a7a;
  --color-green: #c9f3c2;
  --color-lightpink: #f8dada;
  --color-yellow: #ebb481;
  --color-pink: #ffc0c0;
  --color-purple: #d9bfe7;
  --color-brown: #c38972;
  --color-code: #423130;
}

.chocolate blockquote {
  color: #969896;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 0.5em #413c37 solid;
}

.chocolate pre {
  background: var(--color-code);
  padding: 1em;
  border-radius: 0.5em;
  text-align: left;
  width: min-content;
  min-width: 50%;
  margin: auto;
}

.chocolate :not(pre) > code {
  background: var(--color-code);
  color: var(--color-red);
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}

.chocolate a,
a:visited {
  color: #c5c8c6;
}

