.tomorrow {
  background: #1d1f21;
  color: #c5c8c6;

  --color-red: #cc6666;
  --color-green: #b5bd68;
  --color-orange: #de935f;
  --color-yellow: #f0c674;
  --color-aqua: #8abeb7;
  --color-blue: #81a2be;
  --color-purple: #b294bb;
  --color-code: #282a2e;
}

.tomorrow blockquote {
  color: #969896;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 0.5em #373b41 solid;
  margin: 0 8em;
}

.tomorrow pre {
  background: var(--color-code);
  padding: 1em;
  border-radius: 0.5em;
  text-align: left;
  width: min-content;
  min-width: 50%;
  margin: auto;
}

.tomorrow :not(pre) > code {
  background: var(--color-code);
  color: var(--color-red);
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}

.tomorrow a,
a:visited {
  color: #c5c8c6;
}
